.terms-conditions-wrapper {
    font-family: var(--secondary-font);
    color: var(--primary-text-color);
    background-color: var(--primary-color);
}

.terms-heading {
    font-family: var(--primary-font);
    font-size: 2.5rem;
    color: var(--black-color);
}

.terms-card {
    background-color: var(--primary-card-color);
    border: none;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.section-heading {
    font-family: var(--primary-font);
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--black-color);
}

.icon-box {
    min-width: 40px;
    font-size: 1.5rem;
    color: var(--primary-hover-color);
}

.icon {
    vertical-align: middle;
}

.list-group-item {
    background-color: transparent;
    border: none;
    padding-left: 0;
}

.bg-green {
    background-color: rgba(2, 73, 8, 0.1);
}

.bg-blue {
    background-color: rgba(207, 220, 221, 0.3);
}

.pricing-box {
    background-color: var(--secondary-card-color);
    border-radius: 10px;
}

.payment-option {
    border-radius: 10px;
}

.alert {
    font-size: 0.95rem;
    font-family: var(--secondary-font);
}
