/*-----------------------------------------------------------------------------------
    CTA CSS
    ===================
    Call to Action Section
-----------------------------------------------------------------------------------*/

@import './base.css';

/*======= CTA Section =======*/
.cta-sec {
    position: relative;
    z-index: 1;
    margin-top: 80px;
    padding: 45px 0;
    background-color: var(--white-color);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}


.cta-sec .block-text {
    max-width: 800px;
    margin-left: -50px;
}

.cta-sec .block-text .section-title {
    margin-bottom: 20px;
    text-align: left;
}

.cta-sec .block-text .section-title .title-tag {
    display: block;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--primary-text-color);
    margin-bottom: 10px;
    font-family: var(--primary-font);
}

.cta-sec .block-text .section-title h2 {
    font-size: 32px;
    font-family: var(--primary-font);
    color: var(--primary-text-color);
}

.cta-sec .block-text p {
    font-size: 16px;
    color: var(--primary-text-color);
    padding-right: 50px;
}

.cta-sec .block-text .main-btn.btn-filled {
    margin-top: 40px;
}

.cta-sec .block-text .main-btn.btn-filled:hover {
    background-color: var(--primary-hover-color);
    color: var(--white-color);
}

/*======= Responsive Styles =======*/
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .cta-sec .row {
        padding: 0 50px;
    }

    .cta-sec .block-text .section-title h2 {
        font-size: 28px;
    }

    .cta-sec .block-text p {
        font-size: 14px;
        padding-right: 30px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .cta-sec .row {
        padding: 0 30px;
    }

    .cta-sec .block-text .section-title h2 {
        font-size: 24px;
    }

    .cta-sec .block-text p {
        font-size: 12px;
        padding-right: 20px;
    }
}

@media (max-width: 767px) {
    .cta-sec .row {
        padding: 0 20px;
    }

    .cta-sec .block-text .section-title h2 {
        font-size: 22px;
    }

    .cta-sec .block-text p {
        font-size: 12px;
        padding-right: 0;
    }

    .cta-sec .block-text .main-btn.btn-filled {
        margin-top: 30px;
    }
}

@media (max-width: 575px) {
    .cta-sec .row {
        padding: 0 15px;
    }

    .cta-sec .block-text .section-title .title-tag {
        font-size: 12px;
    }
}