@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Montserrat:wght@100;300;400;600;700&display=swap');

:root {
    --primary-font: 'Gloock', 'serif';
    --secondary-font: 'Montserrat', 'sans-serif';
    --primary-color: #fff;
    --primary-text-color: #404040;
    --primary-card-color: #edebe7;
    --primary-hover-color: #cd865c;
    --secondary-card-color: #cfdcdd;
    --white-color: #ffffff;
    --header-height: 80px;
    --mobile-header-height: 60px;
    --grey-color: #A9A9A9;
    --black-color: #000000;
}

.pagination-wrap {
    text-align: center;
    padding-top: 20px;
}

.pagination-wrap ul li {
    display: inline-block;
    margin: 0 5px;
}

.pagination-wrap ul li a {
    height: 50px;
    width: 50px;
    line-height: 50px;
    color: var(--primary-text-color);
    font-weight: 700;
    font-family: var(--secondary-font);
    background-color: var(--primary-text-color);
    color: var(--white-color);
}

@media (max-width: 575px) {
    .pagination-wrap ul li {
        margin: 0;
    }

    .pagination-wrap ul li a {
        width: 38px;
        height: 38px;
        line-height: 42px;
    }
}

.pagination-wrap ul li a:hover {
    background-color: var(--primary-hover-color);
    color: var(--white-color);
}

.pagination-wrap ul li.active a {
    background-color: var(--primary-hover-color);
    color:var(--primary-text-color);
}