.fb-container {
    background-color: var(--feature-bg-color);
}

.fb-banner-container {
    margin: 0 auto;
    padding: 2rem 1rem;
    font-family: var(--secondary-font);
    max-width: 1400px;

}

.fb-main-title {
background: var(--gradient-border);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: var(--text-shadow);
    font-family: var(--title-font);
    font-weight: bolder;
    font-size: 40px;
}


.fb-explore-btn {
    padding: 10px 20px;
    font-size: 16px !important;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: var(--white-color) !important;
    background-color: var(--primary-hover-color) !important;
    border: 1px solid var(--primary-hover-color);
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border-radius: 0px 10px !important;
}

.fb-explore-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--white-color);
    transition: width 0.3s ease;
   z-index : -1;
}

.fb-explore-btn:hover::before {
    width: 100%;
}

.fb-explore-btn:hover {
    color: var(--primary-hover-color) !important;
}

.fb-banner-item {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    background-color: var(--primary-card-color);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.fb-banner-item:hover {
    box-shadow: 0 4px 15px var(--shadow-color);
}

.fb-banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}



.fb-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.fb-banner-content {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    color: #333333;
    z-index: 2;
    max-width: 80%;
}

.fb-subtitle {
    font-size: clamp(0.8rem, 1.5vw, 1.1rem);
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    color: #333333;
    opacity: 0.9;
}

.fb-title {
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-weight: 500;
    margin-bottom: 1rem;
    line-height: 1.2;
    background: linear-gradient(to right, #8f520cff, #d44107ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: var(--title-font);
}

.fb-cta-btn {
    padding: 8px 16px;
    font-size: 13px !important;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--primary-text-color) !important;
    background-color: rgba(255, 255, 255, 0.3) !important;
    border: 1px solid rgba(255, 255, 255, 0.4);
    transition: all 0.3s ease;
    backdrop-filter: var(--overlay-blur);
}



.fb-btn-arrow {
    transition: transform 0.3s ease;
}


.fb-featured-banner {
    height: 440px;
}

.fb-small-banner {
    height: 180px;
}

.fb-bottom-banner {
    height: 240px;
}
@media (max-width: 992px) {
    .fb-banner-content {
        bottom: 0.5rem;
        left: 0.5rem;
    }

    .fb-subtitle {
        font-size: 0.75rem;
    }

    .fb-title {
        font-size: 0.8rem;
    }

    .fb-cta-btn {
        padding: 6px 12px;
        font-size: 12px !important;
    }

    .fb-small-banner {
        height: 160px;
    }

    .fb-featured-banner {
        height: 400px;
    }

    .fb-bottom-banner {
        height: 200px;
    }
          .fb-main-title {
              font-size: 28px;
          }
}

@media (max-width: 768px) {
    .fb-main-title {
            font-size: 26px;
        }
    .fb-banner-content {
        bottom: 0.5rem;
        left: 0.5rem;
    }

    .fb-subtitle {
        font-size: 0.75rem;
    }

    .fb-title {
        font-size: 0.8rem;
    }

    .fb-cta-btn {
        padding: 6px 12px;
        font-size: 12px !important;
    }

    .fb-small-banner {
        height: 160px;
    }

    .fb-featured-banner {
        height: 300px;
    }

    .fb-bottom-banner {
        height: 200px;
    }
}

@media (max-width: 576px) {
    .fb-banner-container {
        padding: 0rem 2rem;
    }
    .main-banner{
       padding: 0rem 1rem;
    }
        .fb-featured-banner{
            height: 280px;
        }
        .fb-featured-banner img{
            object-position: center bottom;
        }
    .fb-small-banner{
            height: 120px;
    }

    .fb-bottom-banner {
        height: 150px;
        margin-bottom: 0.5rem;
    }

    .fb-main-title {
        font-size: 20px;
    }

    .fb-explore-btn {
        font-size: 10px !important;
        padding: 8px 16px;
        color: var(--white-color);
    }

    .fb-cta-btn {
        padding: 5px 10px !important;
        font-size: 9px !important;
    }
}
@media (max-width: 480px) {
    .fb-banner-container {
        padding: 0rem;
    }

    .main-banner {
        padding: 0rem 1rem;
    }

    .fb-featured-banner {
        height: 250px;
    }

    .fb-featured-banner img {
        object-position: center bottom;
    }

    .fb-small-banner{
        height: 100px ;
    }

    .fb-bottom-banner {
        height: 150px;
        margin-bottom: 0.5rem;
    }

    .fb-main-title {
        font-size: 18px;
    }

    .fb-explore-btn {
        font-size: 10px !important;
        padding: 8px 16px;
        color: var(--white-color);
    }

    .fb-cta-btn {
        padding: 5px 10px !important;
        font-size: 9px !important;
    }
}