.modal-content {
    border: 0;
    border-radius: 0;
    background-color: #353530;
}

.modal-body {
    padding: 55px 40px;
}

.modal-lg {
    max-width: 1000px;
}

.modal-body .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    : 3;
}

.modal-body .close-btn a {
    font-size: 24px;
    display: block;
    width: 60px;
    height: 60px;
    color: #fff;
}

@media (max-width: 575px) {
    .modal-body {
        padding: 20px;
    }
}

@media(max-width: 991px) {
    body {
        cursor: default;
    }

    .parallax_scroll {
        transform: translate3d(0px, 0px, 0px) !important;
    }

    .circle-out {
        display: none;
    }
}

.on-load-modal .modal-dialog {
    max-width: 900px;
}

.on-load-modal .modal-dialog .modal-content .modal-content {
    position: relative;
    border-radius: 0;
    padding: 40px;
    background: #fcd462;
    background-size: cover;
    background-position: center;
    : 1;
}

.on-load-modal .modal-dialog .modal-content .modal-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    : -1;
}

.on-load-modal .modal-header {
    padding: 0;
    border: 0;
}

.on-load-modal .modal-header button {
    text-shadow: none;
    box-shadow: none;
    color: #fff;
    opacity: 1;
    font-weight: 100;
    padding: 0;
    margin: 0 0 0 auto;
    width: 40px;
    height: 40px;
}

.on-load-modal .modal-body {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.on-load-modal .modal-inner {
    width: 100%;
    max-width: 500px;
}

.on-load-modal .modal-inner .title {
    color: #fff;
    font-size: 35px;
    margin-bottom: 20px;
}

.on-load-modal .modal-inner p {
    color: #a3a3a3;
    margin-bottom: 20px;
}

.on-load-modal form button {
    margin-top: 20px;
    display: block;
    width: 100%;
}

.on-load-modal form input {
    margin-top: 20px;
    display: block;
    width: 100%;
    height: 50px;
}