@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Montserrat:wght@100;300;400;600;700&display=swap');

:root {
    --primary-font: 'Gloock', serif;
    --secondary-font: 'Montserrat', sans-serif;
    --primary-color: #f6f5f0;
    --primary-text-color: #404040;
    --primary-card-color: #edebe7;
    --primary-hover-color: #cd865c;
    --secondary-card-color: #cfdcdd;
    --white-color: #ffffff;
    --header-height: 80px;
    --mobile-header-height: 60px;
    --green-color: #024908;
    --grey-color: #A9A9A9;
    --black-color: #000000;
}

/* Search Bar */
.jewel-search-container {
    position: relative;
    width: 100%;
    width: 400px;
    height: 46px;
    background: var(--primary-color);
    border: 1px solid var(--primary-text-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}

/* Input Field */
.jewel-input-field {
    width: 100%;
    height: 100%;
    padding: 8px 40px 8px 12px;
    border: none;
    outline: none;
    font-size: 14px;
    font-family: var(--secondary-font);
    color: var(--primary-text-color);
    background: transparent;
}

.jewel-input-field::placeholder {
    color: var(--grey-color);
    font-weight: 400;
}

/* Icons */
.jewel-search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: var(--primary-text-color);
    cursor: pointer;
    transition: color 0.3s ease;
}

.jewel-search-icon:hover {
    color: var(--primary-hover-color);
}

.jewel-clear-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    color: var(--primary-text-color);
    cursor: pointer;
    transition: color 0.3s ease;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
}

.jewel-input-field:not(:placeholder-shown)+.jewel-clear-icon,
.jewel-input-field:focus+.jewel-clear-icon {
    opacity: 1;
    visibility: visible;
}

.jewel-clear-icon:hover {
    color: var(--primary-hover-color);
}

/* Responsive Styles */
@media (max-width: 1300px) {
    .jewel-search-container {
        max-width: 100%;
        height: 42px;
        width: 250px;
    }

    .jewel-input-field {
        font-size: 13px;
        padding: 6px 36px 6px 10px;
    }

    .jewel-search-icon {
        right: 8px;
    }

    .jewel-clear-icon {
        right: 26px;
    }
}

@media (max-width: 992px) {
    .jewel-search-container {
        height: 42px;
        width: 100%;
        padding: 10px;
    }

    .jewel-input-field {
        font-size: 13px;
        padding: 6px 36px 6px 10px;
    }

    .jewel-search-icon {
        right: 8px;
    }

    .jewel-clear-icon {
        right: 26px;
    }
}