@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  scroll-behavior: smooth !important; 
  overflow-x: hidden;
}

#smooth-wrapper {
  position: relative;
  width: 100%;
  height: auto;
}

section, div {
  transition: transform 0.6s ease-out, opacity 0.6s ease-out;
}


.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;

}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Thin scrollbar for all scrollable areas */
.thin-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 transparent;
}

/* Chrome, Edge, Safari */
.thin-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 10px;
}

.thin-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}